node_modules
dist
Thumbs.db
.DS_Store
.vscode
.project
.settings
.history
yarn-error.log

*.log
*.diff
*.patch
.svn
*.swp
*.swo
*.log
*.json.gzip
*.txt
doc
package-lock.json
node_modules
dist
Thumbs.db
.DS_Store
.vscode
.project
.settings
.history
yarn-error.log

*.log
*.diff
*.patch
.svn
*.swp
*.swo
*.log
*.json.gzip
*.txt
doc
package-lock.json
/src/shared/config-util/config/
